//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sat 03 29 16:33:16 2025

IO_LOC "an[7]" 29;
IO_PORT "an[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "an[6]" 30;
IO_PORT "an[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "an[5]" 33;
IO_PORT "an[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "an[4]" 34; //d4
IO_PORT "an[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "an[3]" 40;
IO_PORT "an[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "an[2]" 35;
IO_PORT "an[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "an[1]" 41;
IO_PORT "an[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "an[0]" 42; //d4
IO_PORT "an[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "seg[7]" 28;//dp
IO_PORT "seg[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[6]" 38;//g
IO_PORT "seg[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[5]" 37;//f
IO_PORT "seg[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[4]" 36;//e
IO_PORT "seg[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[3]" 39;//d
IO_PORT "seg[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[2]" 25;//c
IO_PORT "seg[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[1]" 26;//b
IO_PORT "seg[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[0]" 27;//a
IO_PORT "seg[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "reset" 75;
IO_PORT "reset" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_PORT "Push" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Push" 3;
IO_PORT "Pop" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Pop" 4;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_PORT "pause_run" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "pause_run" 74;
IO_LOC "Clear" 76;
IO_PORT "Clear" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

/*IO_LOC "leds[0]" 10;
IO_PORT "leds[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "leds[1]" 11;
IO_PORT "leds[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "leds[2]" 13;
IO_PORT "leds[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "leds[3]" 14;
IO_PORT "leds[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;



IO_PORT "Pop_out" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Pop_out" 16;

IO_PORT "Push_out" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Push_out" 15;


IO_LOC "ledsd[0]" 10;
IO_PORT "ledsd[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ledsd[1]" 11;
IO_PORT "ledsd[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ledsd[2]" 13;
IO_PORT "ledsd[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ledsd[3]" 14;
IO_PORT "ledsd[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
*/
IO_LOC "vacio" 10;
IO_PORT "vacio" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "lleno" 11;
IO_PORT "lleno" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
/*
IO_LOC "asr[2]" 13;
IO_PORT "asr[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "asr[3]" 14;
IO_PORT "asr[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "asr[4]" 15;
IO_PORT "asr[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
/*IO_LOC "leds[0]" 10;
IO_PORT "leds[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "leds[1]" 11;
IO_PORT "leds[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "leds[2]" 13;
IO_PORT "leds[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "leds[3]" 14;
IO_PORT "leds[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
*/



IO_LOC "columnas[0]" 32;
IO_PORT "columnas[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "columnas[1]" 31;
IO_PORT "columnas[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "columnas[2]" 49;
IO_PORT "columnas[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "columnas[3]" 48;
IO_PORT "columnas[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "fila[0]" 73;
IO_PORT "fila[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "fila[1]" 72;
IO_PORT "fila[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "fila[2]" 71;
IO_PORT "fila[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "fila[3]" 70;
IO_PORT "fila[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
